body {
    background-color: #ffffff;
}

.navbar {
}

/*Hover over text i menyn:*/
.navbar-nav a:hover{
    background-color: hotpink;
    }

    /*.navbar-nav > li > a:hover {
        background-color: red;
    }*/

.navbar-nav a:active {
    background-color: green;
    font-size: 150%;
}

.navbar-nav a:visited {
    background-color: white;
}

.logos li {
    display: inline-block;
}

.logos img {
    height: 80px;
    margin: 10px;
}

.opacityLogos {
    opacity: 0.3;
}

.dropDownContent {
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    font-size: 18px;
}

    .dropDownContent li {
        display: block;
    }

        .dropDownContent li:hover {
            background-color: lightgrey;
        }

/*.show {
    display: block;
}*/

@media (min-width: 1200px) {
    #wrapper {
        max-width: 1200px;
    }
}
