body {
    background-color:#ffffff;
}

.logos li {
    display: inline-block;
}

.logos img {
    height: 80px;
    margin: 10px;
}

.opacityLogos {
    opacity: 0.3;
}

@media (min-width: 1200px) {
    #wrapper {
        max-width: 1200px;
    }
}


