* {
    font-family: 'Open Sans', sans-serif;
}

body {
    /*background-image: url("bg2.png");*/
    background-color: #302E26;
}

.navbar {
    background-color: #FC4E1E;
    border: transparent;
}

.faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}



.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

.active-nav {
    background-color: #FE7F2D;
    border-radius: 45%;
    opacity: 0.7;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F0EAE8;
    font-style: normal;
}

.navbar-nav a:active {
    font-size: 150%;
}

.header {
padding: 1%;
}

/*Todo: Gör responsiv*/
    .header h1 {
        color: #302E26;
        font-family: 'Comfortaa', cursive;
        font-size: 45px;
        /*font-weight: bold;*/
    }

.sliderHeadline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#slider-range {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted grey;
}

.ui-widget-header {
    background-color: #FC4E1E;
} 

#date {
    border: 0;
    font-weight: bold;
}

#indexDivCanvas {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    margin-top: 10px;
}

#success_message {
    display: none;
}

.yada {
    background-color: #ffffff;
    border-radius: 30px;
}

footer {
    padding: 1%;
    }

.logos li {
    display: inline-block;
}

.logos img {
    height: 80px;
    margin: 10px;
}

.opacityLogos {
    opacity: 0.3;
}

.dropDownContent {
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    z-index: 1;
    font-size: 18px;
}

    .dropDownContent li {
        display: block;
    }

        .dropDownContent li:hover {
            background-color: lightgrey;
        }

@media (min-width: 1200px) {
    #wrapper {
        max-width: 1200px;
    }
}

#ourLogo {
    width: auto;
    height:50px;
    float:left;
    margin:1%;
}
