@{
    ViewBag.Title = "Valkrätts";
}
<p id="demo"></p>
<p id="demo2"></p>


<button onclick="getLocation()">Try It</button>
 @*AIzaSyARnEQlD02wVjT3Vs-kKEmEyT_jR5ymZcA*@

@section scripts
    {
<script src="~/Constituency.js"></script>
}
