@model MailVM

<div class="container">

    <form asp-controller="Home" asp-action="ContactUs" class="well form-horizontal" method="post" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend>Kontakta oss</legend>

            <div class="form-group">
                <label asp-for="Name" class="col-md-4 control-label">Namn</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span asp-validation-for="Name" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="Name" placeholder="Namn" class="form-control" type="text">

                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label asp-for="Email" class="col-md-4 control-label">E-Post</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span asp-validation-for="Email" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input asp-for="Email" placeholder="E-post" class="form-control" type="text">
                    </div>
                </div>
            </div>


            <!-- Text input-->

            <div class="form-group">
                <label asp-for="Subject" class="col-md-4 control-label">Ämne</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span asp-validation-for="Subject" class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input asp-for="Subject" placeholder="Ämne" class="form-control" type="text">
                    </div>
                </div>
            </div>




            <!-- Text area -->

            <div class="form-group">
                <label asp-for="Message" class="col-md-4 control-label">Meddelande</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span asp-validation-for="Message" class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea asp-for="Message" class="form-control" placeholder="Meddelande..."></textarea>
                    </div>
                </div>
            </div>

            <!--CATCHPA-->
            <div class="form-group">
                <label asp-for="Catchpa" class="col-md-4 control-label">Gissa talet @Model.CatchpaNumber[0] plus @Model.CatchpaNumber[1]</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span asp-validation-for="Catchpa" class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                        <input asp-for="Catchpa" placeholder="Hej robot!" class="form-control" type="text">
                        <input type="hidden" asp-for="CatchpaNumber[0]" />
                        <input type="hidden" asp-for="CatchpaNumber[1]" />

                    </div>

                    @if (TempData[Model.TempDataFail] != null)
                    {
                        <div>
                            @TempData[Model.TempDataFail]
                        </div>
                    }
                    
                    @if (TempData[Model.TempDataSuccess] != null)
                    {
                        <div>
                            @TempData[Model.TempDataSuccess]
                        </div>
                    }
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-send"></span> Skicka</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
@section Scripts
    {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

}