<div id="kakor">
    <h1>Kakor (”cookies”)</h1>
    <p>För att få den här webbplatsen att fungera ordentligt skickar vi ibland små filer till din dator. Dessa filer kallas kakor eller ”cookies”. De flesta större webbplatser gör på samma sätt.</p>
    <h2>Vad är kakor?</h2>
    <p>Kakorna är små textfiler som sparas på din dator, telefon eller surfplatta när du besöker webbplatsen. Kakorna hjälper webbplatsen att komma ihåg dina inställningar (t.ex. användarnamn, språk, textstorlek och andra förhandsval) under en viss tid. Tanken är att du inte ska behöva göra om inställningarna varje gång du går in på webbplatsen eller bläddrar mellan olika sidor.</p>
    <h2>Hur använder vi kakorna?</h2>
    <p>Vi använder en cookie för geo-location för Googles Api. Vi gör detta för att minska på frågorna till Googles Api då detta är begränsat till 2500 sökningar per dag.</p>
</div>