

<div class="faq_container">

    <div class="faq" ng-repeat="item in listOfSearch | filter: search track by $index">

        <div class="faq_question">{{item.question}}</div>

        <div class="faq_answer_container">

            <div class="faq_answer">{{item.answere}}<br /> <a href="{{item.source}}">{{item.source}}</a></div>

        </div>

    </div>

</div>

@section Scripts
    {
    <script src="~/faq.js"></script>

}