@{
    ViewBag.Title = "Hem";
}


<div id="indexDivCanvas">
    <canvas id="myChart" width="100" height="200"></canvas>
</div>
<br />
<div class="sliderHeadline">
    <p>
        <label for="date">Riksdagsår:</label>
        <input type="text" id="date"/>
    </p>
</div>

<div id="slider-range"></div>

@section scripts
    {
    <script src="~/index.js"></script>
}
