@{
    ViewBag.Title = "Hem";
}

<div id="indexDivCanvas">
    <canvas id="myChart" width="500" height="200"></canvas>
</div>

<p>
    <label for="date">Riksdagsår:</label>
    <input type="text" id="date" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range"></div>

@section scripts
    {
    <script src="~/index.js"></script>
}
