@{
    ViewBag.Title = "Parti";
}
<div>
    <div id="divCanvas" ng-show="showPartyBarChart">
        <canvas id="pieChart" width="400" height="200"></canvas>
    </div>
    <div ng-show="showPartyBarChart">
        <p>
            <label for="date">Riksdagsår:</label>
            <input type="text" id="date" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>

        <div id="slider-range"></div>
    </div>
    <div class="logos">
        <ul>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('V')"><img src="~/Images/Logos/Vansterpartiet_logo_sRGB.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('S')"><img src="~/Images/Logos/Socialdemokraterna_logo_liggande.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('MP')"><img src="~/Images/Logos/Miljopartiet_logo_original_gron.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('C')"><img src="~/Images/Logos/Centerpartiet_Logo_Narodlad_Liggande_RGB.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('L')"><img src="~/Images/Logos/Liberalerna_logo_liggande.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('KD')"><img src="~/Images/Logos/Kristdemokraterna_logo_CMYK.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('M')"><img src="~/Images/Logos/Moderaterna_logo_utan_text.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('SD')"><img src="~/Images/Logos/Sverigedemokraterna_logo_RGB.jpg" /></div>
            </li>
        </ul>
    </div>
    <br />
</div>

@section Scripts
    {
    <script src="~/party.js"></script>

}
