@{
    ViewBag.Title = "Parti";
}
<div class="content">
    <h2>Välj parti: </h2>
    <div id="divCanvas" ng-show="showPartyBarChart">
        <canvas id="pieChart" width="400" height="200"></canvas>
    </div>
    <div ng-show="showPartyBarChart">
        <div class="sliderHeadline">
            <p>
                <label for="date">Riksdagsår:</label>
                <input type="text" id="date" readonly">
            </p>
        </div>
        <div id="slider-range"></div>
    </div>
    <div class="logosParty">
        <ul>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('V')"><img src="~/Images/Logos/Small_V.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('S')"><img src="~/Images/Logos/Small_S.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('MP')"><img src="~/Images/Logos/Small_MP.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('C')"><img src="~/Images/Logos/Small_C.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('L')"><img src="~/Images/Logos/Small_L.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('KD')"><img src="~/Images/Logos/Small_KD.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('M')"><img src="~/Images/Logos/Small_M.jpg" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('SD')"><img src="~/Images/Logos/Small_SD.jpg" /></div>
            </li>
        </ul>
    </div>
    <br />
</div>

@section Scripts
    {
    <script src="~/party.js"></script>

}
