@{
    ViewBag.Title = "Parti";
}
<div class="content">
    <div id="divCanvas" ng-show="showPartyBarChart">
        <canvas id="pieChart" width="400" height="200"></canvas>
    </div>
    <div ng-show="showPartyBarChart">
        <div class="sliderHeadline">
            <p>
                <label for="date">Riksdagsår:</label>
                <input ng-disabled="true" type="text" id="date" readonly">
            </p>
        </div>
        <div id="slider-range"></div>
    </div>
    <div class="logosParty">
        <h2>Välj parti: </h2>
        <ul>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('V')"><img src="~/Images/Logos/Small_t_V.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('S')"><img src="~/Images/Logos/Small_t_S.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('MP')"><img src="~/Images/Logos/Small_t_MP.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('C')"><img src="~/Images/Logos/Small_t_C.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('L')"><img src="~/Images/Logos/Small_t_L.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('KD')"><img src="~/Images/Logos/Small_t_KD.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('M')"><img src="~/Images/Logos/Small_t_M.png" /></div>
            </li>
            <li>
                <div class="partyLogo" ng-click="loadPartyData('SD')"><img src="~/Images/Logos/Small_t_SD.png" /></div>
            </li>
        </ul>
    </div>
    <br />
</div>

@section Scripts
    {
    <script src="~/party.js"></script>

}
