@model PersonVM[]


<div class="input-group">
    <input ng-change="change(search)" ng-model="search" type="text" class="form-control" placeholder="Sök politiker...">
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
</div>

<ul ng-show="searchBar" class="dropDownContent">
    <li ng-cloak ng-repeat="item in listOfSearch | filter: search track by $index">
        <p ng-click="selectedPerson(item.Id)">{{item.person}}</p>
    </li>
</ul>
<div id="content">

    <div id="rightContent" class="col-sm-6" ng-show="showPersonBarChart">


        <div id="personAPI">
            <div id="personInfo">
            </div>
        </div>



    </div>

    <div id="leftContent" class="col-sm-6" ng-cloak>
        <div id="divPersonCanvas" ng-show="showPersonBarChart">
            <canvas id="pieJChart" width="400" height="200"></canvas>
        </div>
        <div ng-show="showPersonBarChart">
            <div class="sliderHeadline">
                <p>
                    <label for="date">Riksdagsår:</label>
                    <input type="text" id="date">
                </p>
            </div>

            <div id="slider-range"></div>
        </div>
    </div>
</div>

<br /><br />




@section Scripts
    {
    <script src="~/person.js"></script>
}












<!-- Initialize a new AngularJS app and associate it with a module named "instantSearch"-->
@*<body ng-app="instantSearch" ng-controller="InstantSearchController">*@

@*<div>*@
<!-- Create a binding between the searchString model and the text field -->
@*<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
    </div>

    <ul>*@
<!-- Render a li element for every entry in the items array. Notice
     the custom search filter "searchFor". It takes the value of the
     searchString model as an argument.
 -->
@*<li ng-repeat="i in items | searchFor:searchString">
            <a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
            <p>{{i.title}}</p>
        </li>
    </ul>*@

<!-- Include AngularJS from Google's CDN -->
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>*@
@*<script src="script.js"></script>*@
@*</body>*@















@*@model PersonVM[]

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="showPerson()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>*@
@*<div ng-init="friends">*@

@*@foreach (var person in Model)
    {
        <a asp-controller="Home" asp-action="Person" ng-show="showPer" >@person.FirstName @person.LastName</a><br />

    }
    </div>*@
@*</div>*@


@*<canvas id="personChart" width="400" height="200"></canvas>*@



